body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Roboto;
}

#content-wrapper {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    
}


/* Start: Navigation */
nav, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #F9FAF8;
    background-color: #1F2937;
    text-decoration: none;
}

#logo { font-size: 24px; }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

a {
    display: block; 
    text-decoration: none; 
    color: inherit;
}

/* Start: Hero */
.hero {
    background-color: #1F2937;
}

#hero-text {
    font-size: 48px;
    font-weight: 900;
}

#hero-sub-txt {
    font-weight: 18px;
}

.low-contrast-gray {
    color: #E5E7EB;
}

#placeholder-box { background-color: #f9faf860; 

}

p { margin: 0; }

/* utility classes */
.gap-10 { gap: 10px }

.font-white {
    color: #F9FAF8;
}
.blue-bg {
    background-color: #3882F6
}

.cta-btn {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.center-xy {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0;
    min-width: 0;
}